<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{author}}'s app</title>	
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
    <style type="text/css">    
      body {
      	font-family: 'Oswald', sans-serif;
      	font-size: 30px;
      	font-weight:300;
      }
    </style>
  </head>  
  <body>
  <form action="/answer" method="post">
  	<input type="text" name="n" placeholder="Enter n for fibonacci(n)"></input>
  	<input type="submit" value="Submit" style="font-family: 'Oswald';"/>
  </form>
  
  </body>
</html>