<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rahul's app</title>	
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">  
    <style type="text/css">    
      body {
      	font-family: 'PT Sans', sans-serif;
      	font-size: 28px;
      	font-weight:300;
      }
    </style>
  </head>  
  <body>
  here is a list of all functions available for evaluation:
    {% for f in d %}
    <li>{{f}}</li>
    {% endfor %}

  <form action="/add" method="post">
    <input type="text" name="func_name" placeholder='function name'></input>
    <input type="text" name="func_def" placeholder='function definition (as lambda)' size=35></input>
    <input type="submit" value="Add function" style="font-family: 'Oswald';"/>
  </form>
  <form action="/answer" method="post">
    <input type="text" name="f" placeholder='function'></input>
  	<input type="text" name="n" placeholder='input (integer)'></input>
  	<input type="submit" value="Submit" style="font-family: 'Oswald';"/>
  </form>

  {{result}}
  
  </body>
</html>